/* * {
    box-sizing: border-box;
  } */
  
  body { 

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
    background-color: #fff;
  
  }
  

  .header_links {

    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5%;
    display: flex;
    margin-right: auto;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-line: none;
   
    /* border below shows the nav area */
    border-color: rgb(39, 39, 39);
    border-style: solid;
    border-radius: 8px;
    border-width: thin;
  }



























  
  
  
  /* mobile responsiveness */
  
  @media screen and (max-width: 800px) {
  
  }