/* * {
    box-sizing: border-box;
  } */

html {
  box-sizing: border-box;
}

body {

  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #ED4140;
  font-weight: 500;
  font-size: 18px;
  background-color: #FFFDF9;
}

h1,
h2,
h3 {
  color: #214086;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 38;
}



/* no link underlines */
a {
  color: #ED4140;
  text-decoration: none;
}


.header_container {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  position: fixed;
  width: 100%;
  background-color: #FFFDF9;

  /*   outline: dashed; */
}

.header_link_area {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  gap: 32px;
  font-weight: 200;

  background-color: #FFFDF9;


  /* list styling */
  list-style-type: none;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.topnav-basic-link {
  padding: 4px;
}

/* Active basic topnav link (bold) */
.active {
  text-underline-offset: 3px;
  text-decoration: underline;
  font-weight: 600;
}


/* link underline animation */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #214086;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ED4140;
  transform-origin: bottom center;
  transition: transform 0.1s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}


.CTA {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  margin-left: 16px;

  background-color: #ED4140;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;

  opacity: 0.8;
  transition: 0.3s;

  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  opacity: 1
}

/* mobile hidden */
.mobile-container {
  display: none;
}

.content-container { 
  display: flex;
  justify-content: center;
}


/* Content styles */
.content {
  margin-top: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}


footer {
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
  background-color: #ececec;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  font-size: small;
  padding-left: 10px;
}

.list {
  list-style: none;
  padding: 0px 10px;
  margin: 0 0 0 0;
}


.par {
  padding-left: 10px;
}

footer h3 {
  padding: 10px;
  margin-bottom: 10px;
}

footer .social-icons {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0;
}

footer .social-icons li {
  margin-right: 20px;
}

footer .social-icons li a {
  color: rgb(0, 0, 0);
  font-size: 20px;
}








/* mobile responsiveness */

@media screen and (max-width: 800px) {


  .row {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
  }

  body {
    margin: 0 0;
  }

  .mobile-container {
    display: block;
    position: fixed;
    width: 100%;
  }

  .header_container {
    display: none;
  }

  /* Style the navigation menu */
  .topnav {
    background-color: #FFFDF9;
    position: relative;
    text-align: center;
    width: 100%;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: #214086;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    height: 20px;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    font-size: larger;
    color: #ED4140;
    background: #FFFDF9;
    display: block;
    position: absolute;
    right: 0;
    top: 0;

  }

  .mobile-logo {
    display: block;
    position: absolute;
    right: 1;
    top: 0;
    padding-top: 10px;
    padding-bottom: 0px;
  }


  /*   /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #efefef86;
    font-weight: 600;

  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #FFFDF9;
  }


  .cta_text {
  background-color: #ed40402c;
  }

}